/* styles.css */

body {
  height: 100vh;
  margin: 0;
  font-family: 'Inter','Arial', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./assets/images/6912325.jpg');
  background-size: cover;
}

.container {
  background-color: #AEB7C0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
  padding: 20px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

nav .nav__settings a {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: #040e14;
  text-decoration: none;
}

nav .nav__settings a img {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.indexHeader {
  color: #333;
  font-size: 2em;
  margin-bottom: 10px;
}

.overviewHeader {
  color: #fff;
}

p {
  color: #666;
  font-size: 1em;
  margin-bottom: 20px;
}

#time {
  text-align: right;
  font-size: 2em;
  margin-bottom: 10px;
  color: #333;
}

button {
  background-color: #2980b9;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3498db;
}

.quiz-overview-link{
display: flex;
text-decoration: none;color: black;
font-weight: 600;
}

/* Additional styles for the quiz elements */
.item-category {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #4a4a4a;
}

.item-question {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #333;
}

.answers-list {
  margin-bottom: 1rem;
}

.answer-item {
  cursor: pointer;
  padding: 0.5rem;
  background-color: #eeeeee;
  margin-bottom: 0.5rem;
  border-radius: 0.25rem;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.answer-item:hover {
  background-color: #dddddd;
}

.correct-answer {
  background-color: #a5d6a7;
}

.incorrect-answer {
  background-color: #ef9a9a;
}

.result-message {
  margin-top: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
}

/* To add hover effect over text */
.hover{
  transition: 0.2s;
  &:hover{
    opacity: 0.6;
    /* letter-spacing: 5px; */
    color:#430A5D !important;
  }
}

.footer {  /* Added this to position the arrow button better */
  position: absolute;
  bottom: 3%; /* Adjust this to position the footer as needed */
  width: 100%;
  display: flex;
  justify-content: flex-start;
  padding-left: 4%; 
}

.back-button {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 3px solid rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  padding-left: 5px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.back-button:hover {
  animation: borderAnimation 2s ease forwards;
}

.back-button::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border-left: 3px solid white;
  border-top: 3px solid white;
  transform: rotate(-45deg);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

@keyframes borderAnimation {
  0% {
      border-color: rgba(255, 255, 255, 0.5);
  }
  50% {
      border-color: rgba(255, 255, 255, 1);
  }
  100% {
      border-color: rgba(255, 255, 255, 0.5);
  }
}

@keyframes arrowAnimation {
  0% {
      transform: translateX(0) rotate(-45deg);
      opacity: 1;
  }
  50% {
      transform: translateX(-20px) rotate(-45deg);
      opacity: 0;
  }
  51% {
      transform: translateX(20px) rotate(-45deg);
      opacity: 0;
  }
  100% {
      transform: translateX(0) rotate(-45deg);
      opacity: 1;
  }
}

.back-button:hover::before {
  animation: arrowAnimation 0.6s ease forwards;
}