@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #dadada;
}

.nav__container {
  display: flex;
  width: 100%;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

}

.nav__settings img {
  width: 20px;
  height: 20px;
  margin-right: 5px;

}

.nav__settings a {
  display: flex;
  align-items: center;
  /* Align items vertically centered */
  text-decoration: none;
  /* Remove underline from link */
  color: inherit;
  /* Inherit color for text */
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}


div ul:hover {
  animation: tilt-shaking 0.4s;
  cursor: pointer;
}