body{
  background-color: #dadada;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}


div ul:hover{
  animation: tilt-shaking 0.4s;
  cursor: pointer;
}
